.Approved,.Missing,.Missing–Urgent,.updated{
  padding: 5px 10px ;
  font-weight: 600;
  color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
}
.Approved,.updated{
  background-color: green;
}
.Missing{
  background-color: orange;
}
.Missing–Urgent{
  background-color: rgba(255, 0, 0, 0.786);
}

/* //html for react logo
<div className='logoWraper'>
  <p className='circle'></p>
  <p className='ovel'></p>
  <p className='ovel ovel1'></p>
  <p className='ovel ovel2'></p>
</div>
//css
.logoWraper{
  animation: reactLogo 20s linear infinite;
  -webkit-animation: reactLogo 20s linear infinite;
}
.logoWraper,
.app {
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.circle {
  height: 50px;
  border-radius: 100%;
  aspect-ratio: 1/1;
  background-color: skyblue;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.ovel {
  position: absolute;
  height: 70px;
  width: 250px;
  border-radius: 50%;
  border: 10px solid skyblue;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.ovel1 {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
}
.ovel2 {
  transform: rotate(1200deg);
  -webkit-transform: rotate(1200deg);
  -moz-transform: rotate(1200deg);
  -ms-transform: rotate(1200deg);
  -o-transform: rotate(1200deg);
}

@keyframes reactLogo {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
} */
